# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\[Tutorials] Spring\03\Spring-Dependency-Injection-Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
